<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/izvio.jpg"
        width="200"
        class="img-thumbnail rounded-circle"
        alt="izvio"
      />
      <h1 class="display-4">Izvio Prijaya Mumin</h1>
      <p class="lead">Potterhead | Weebs | Junior Back-end Engineer</p>
    </div>
  </div>
</div>
